<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="automationDailyReport.SignupAndDeleteProfile"/>
      <class name="automationDailyReport.SigninAndLogout"/>
      <class name="automationDailyReport.JobCompanyResumeCount"/>
      <class name="automationDailyReport.MultipleJobSearch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
